$border-color: #000;
$canvas-width: 800px;
$canvas-height: 600px;
$player-color: #00F;
$enemy-color: #7AD0B2;
$bullet-color: #0F0;
$font-size: 20px;
$score-margin-bottom: 10px;
$audio-volume: 0.2;
$padding: 10px;